In [1]:
print("Hello World")

Hello World

In [2]:
#Step 1 Data Exploration & Loading

In [3]:
import pandas as pd
import os

In [4]:
df = pd.read_csv(r"c:\Users\Ricky\OneDrive\Desktop\School\Project -Walmart\Walmart.csv")
df.head()
df.describe()
df.info()

#We see that Unit_price and quantity has 31 missing nulls and unit_price is the wrong data type.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_id      10051 non-null  int64
 1   Branch          10051 non-null  object
 2   City            10051 non-null  object
 3   category        10051 non-null  object
 4   unit_price      10020 non-null  object
 5   quantity        10020 non-null  float64
 6   date            10051 non-null  object
 7   time            10051 non-null  object
 8   payment_method  10051 non-null  object
 9   rating          10051 non-null  float64
 10  profit_margin   10051 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 863.9+ KB

In [5]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [6]:
#all duplicates
df.duplicated().sum()
df.isnull().sum()

invoice_id         0
Branch             0
City               0
category           0
unit_price        31
quantity          31
date               0
time               0
payment_method     0
rating             0
profit_margin      0
dtype: int64

In [7]:
df.drop_duplicates(inplace=True)
df.duplicated().sum()

np.int64(0)

In [8]:
#Dropping all rows with missing records
df.dropna(inplace=True)
df.isnull().sum()

invoice_id        0
Branch            0
City              0
category          0
unit_price        0
quantity          0
date              0
time              0
payment_method    0
rating            0
profit_margin     0
dtype: int64

In [9]:
df['unit_price'].astype(float)

ValueError: could not convert string to float: '$74.69'

In [10]:
df['unit_price'] = df['unit_price'].str.replace('$', '').astype(float)

In [11]:
df['total'] = df['unit_price'] * df['quantity']

In [25]:
df.head()

,invoice_id,Branch,City,category,unit_price,quantity,date,time,payment_method,rating,profit_margin
0,1,WALM003,San Antonio,Health and beauty,$74.69,7.0,05/01/19,13:08:00,Ewallet,9.1,0.48
1,2,WALM048,Harlingen,Electronic accessories,$15.28,5.0,08/03/19,10:29:00,Cash,9.6,0.48
2,3,WALM067,Haltom City,Home and lifestyle,$46.33,7.0,03/03/19,13:23:00,Credit card,7.4,0.33
3,4,WALM064,Bedford,Health and beauty,$58.22,8.0,27/01/19,20:33:00,Ewallet,8.4,0.33
4,5,WALM013,Irving,Sports and travel,$86.31,7.0,08/02/19,10:37:00,Ewallet,5.3,0.48

In [ ]:
import sys
!"{sys.executable}" -m pip install psycopg2

Collecting psycopg2
  Using cached psycopg2-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Using cached psycopg2-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.11

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
import pymysql
from sqlalchemy import create_engine
import psycopg2

In [24]:
#saving the data
df.to_csv(r"C:\Users\Ricky\OneDrive\Desktop\School\Project -Walmart\walmart_clean_data.csv", index=False)

In [15]:
#postgresql connection
engine = create_engine('postgresql+psycopg2://postgres:data@localhost:5432/walmart_db')

try:
    engine
    print("Connection Success to PSQL")
except:
    print("Unable to connect")

Connection Success to PSQL

In [21]:
df.to_sql(name='walmart', con=engine, if_exists='replace', index=False)

969

In [20]:
df.columns = df.columns.str.lower()
df.columns

Index(['invoice_id', 'branch', 'city', 'category', 'unit_price', 'quantity',
       'date', 'time', 'payment_method', 'rating', 'profit_margin', 'total'],
      dtype='object')